/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/*Standard Elements*/

/*Blocks*/
.panel {
  border: 1px solid #ccc;
  background: white;
  border-radius: 3px;
}
.dialog .panel {
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
.panel .panel-heading {
  border-bottom: 1px solid #ccc;
  border-left: none;
  color: #333;
  display: block;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  font-size: .85em;
  line-height: 1.5em;
  background: #efefef;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fafafa));
  background: -ms-linear-gradient(bottom, #efefef, #fafafa);
  background: -moz-linear-gradient(center bottom, #efefef 0%, #fafafa 100%);
  background: -o-linear-gradient(bottom, #efefef, #fafafa);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e3e3e3', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#efefef')";
  box-shadow: inset 0px 1px 1px white;
}
.panel .panel-heading:not(.no-collapse):hover {
  background: #efefef;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e2e2e2), color-stop(1, #fafafa));
  background: -ms-linear-gradient(bottom, #e2e2e2, #fafafa);
  background: -moz-linear-gradient(center bottom, #e2e2e2 0%, #fafafa 100%);
  background: -o-linear-gradient(bottom, #e2e2e2, #fafafa);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e3e3e3', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#e2e2e2')";
}
.panel .panel-heading .panel-icon {
  border-right: 1px solid #AAA;
  box-shadow: 1px 0px 1px #fff;
  border-left: none;
  text-align: center;
  padding-left: 1em;
  line-height: 2em;
  margin-top: -0.25em;
}
.panel .panel-heading .panel-icon a {
  padding: 0em;
}
.panel .panel-heading .panel-icon [class*="icon-"] {
  padding: 0em 1em;
  line-height: 1em;
}
.panel .panel-heading .panel-icon.pull-right {
  border-left: 1px solid #AAA;
  border-right: none;
  box-shadow: inset 1px 0px 1px #fff;
}
.panel .panel-heading .label {
  float: right;
  line-height: 1.5em;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
p.panel-heading,
a.panel-heading,
.panel-heading a {
  color: #505050;
  display: block;
  outline: none;
}
a.panel-heading:hover,
.panel-heading a:hover {
  color: #505050;
}
.panel-body {
  min-height: .25em;
}
.panel-body h1,
.panel-body h2,
.panel-body h3,
.panel-body h4,
.panel-body h5,
.panel-body h6,
.panel-body table {
  margin-top: 12px;
}
.panel-body.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}

