<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>本站</title>
    <!-- vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- elementUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- elementUI JS -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link th:href="@{https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/plugins/font_a4odpaijq7g/iconfont.css}" rel="stylesheet" type="text/css"/>
    <!--公用css-->
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>
</head>
<style>

</style>
<body>
<div id="app">
    <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select=""
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1"><a href="../wte/index">吃什么</a></el-menu-item>
        <el-menu-item index="2"><a href="../comment/index">留言板</a></el-menu-item>
        <el-submenu index="3">
            <template #title>关于</template>
            <el-menu-item index="3-1"><a href="../about/showSite">本站</a></el-menu-item>
            <el-menu-item index="3-2"><a href="../about/showAuthor">作者</a></el-menu-item>
        </el-submenu>
        <el-menu-item index="4" v-show="false"><a href="../user/showLogin">登入</a></el-menu-item>
        <el-menu-item index="5" v-show="false"><a href="../user/showRegister">注册</a></el-menu-item>
        <el-menu-item index="6" v-show="false"><a href="#"
                                                  th:text="null != ${session.username} ? '欢迎，' + ${session.username} : '尚未登录，请登录'"></a>
        </el-menu-item>
    </el-menu>
    <el-container>
        <el-main>
            <div>
                本站缓慢施工ing...
            </div>
        </el-main>
        <el-footer>©2021 WhatToEat &nbsp&nbsp&nbsp&nbsp&nbsp Developed by PrinceCheng</el-footer>
    </el-container>

</div>
</body>

<script type="text/javascript" th:inline="javascript">

    const App = {
        data() {
            return {
                activeIndex: '3-1',
                activeNames: ['1', '2']
            };
        },
        methods: {},
        mounted() {

        }
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");

</script>

</html>