<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>留言板</title>
    <!-- vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- elementUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- elementUI JS -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link th:href="@{https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/plugins/font_a4odpaijq7g/iconfont.css}" rel="stylesheet" type="text/css"/>
    <!--公用css-->
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>

</head>
<style>
    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
</style>
<body>
<div id="app">

    <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select=""
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1"><a href="../wte/index">吃什么</a></el-menu-item>
        <el-menu-item index="2"><a href="../comment/index">留言板</a></el-menu-item>
        <el-submenu index="3">
            <template #title>关于</template>
            <el-menu-item index="3-1"><a href="../about/showSite">本站</a></el-menu-item>
            <el-menu-item index="3-2"><a href="../about/showAuthor">作者</a></el-menu-item>
        </el-submenu>
        <el-menu-item index="4" v-show="false"><a href="../user/showLogin">登入</a></el-menu-item>
        <el-menu-item index="5" v-show="false"><a href="../user/showRegister">注册</a></el-menu-item>
        <el-menu-item index="6" v-show="false"><a href="#"
                                                  th:text="null != ${session.username} ? '欢迎，' + ${session.username} : '尚未登录，请登录'"></a>
        </el-menu-item>
    </el-menu>


    <el-container>

        <el-main>

            <el-collapse v-model="activeNames">
                <el-collapse-item title="新增评论" name="1">
                    <el-divider>我是分割线</el-divider>
                    <el-form ref="form" :model="form" label-width="100px" :rules="rules" size="small">
                        <el-row :gutter="10">
                            <el-col :xs="{span:24,offset:0}" :sm="{span:16,offset:4}" :md="{span:12,offset:6}" :lg="{span:12,offset:6}" :xl="{span:12,offset:6}">
                                <el-form-item label="评论昵称" prop="name">
                                    <el-input v-model="form.name"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="10">
                            <el-col :xs="{span:24,offset:0}" :sm="{span:16,offset:4}" :md="{span:12,offset:6}" :lg="{span:12,offset:6}" :xl="{span:12,offset:6}">
                                <el-form-item label="评论内容" prop="comment">
                                    <el-input type="textarea" v-model="form.comment"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit('form')">提交评论</el-button>
                        <el-button @click="resetForm('form')">重置</el-button>
                    </el-form-item>
                </el-collapse-item>
                <el-collapse-item title="历史评论" name="2">
                    <el-divider>我是分割线</el-divider>
                    <el-row :gutter="10">
                        <el-col :xs="{span:24,offset:0}" :sm="{span:16,offset:4}" :md="{span:16,offset:4}" :lg="{span:16,offset:4}" :xl="{span:12,offset:6}">
                    <el-table
                            :data="tableData"
                            stripe
                            style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="评论昵称"
                                width="">
                        </el-table-column>
                        <el-table-column
                                prop="comment"
                                label="评论内容"
                                width="">
                        </el-table-column>
                        <el-table-column
                                prop="createTime"
                                label="创建时间">
                        </el-table-column>
                    </el-table>
                    <!--分页-->
                    <div class="block">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[10, 20, 50, 100]"
                                :page-size="10"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="total">
                        </el-pagination>
                    </div>
                        </el-col>
                    </el-row>

                </el-collapse-item>
            </el-collapse>

        </el-main>
        <el-footer>©2021 WhatToEat &nbsp&nbsp&nbsp&nbsp&nbsp Developed by PrinceCheng</el-footer>

    </el-container>

</div>
</body>
<script type="text/javascript" th:inline="javascript">

    const App = {
        data() {
            return {
                activeIndex: '2',
                activeNames: ['1', '2'],
                form: {
                    name: '',
                    comment: '',
                    createTime: ''
                },
                tableData: [],
                currentPage: '',
                pageSize: '',
                total: '',

                rules: {
                    name: [
                        {required: true, message: '请输入评论昵称', trigger: 'blur'},
                        {max: 32, message: '长度在 32 个字符以内', trigger: 'blur'}
                    ],
                    comment: [
                        {required: true, message: '请输入评论内容', trigger: 'blur'},
                        {max: 200, message: '长度在 200 个字符以内', trigger: 'blur'}
                    ]
                }
            };
        },
        methods: {
            /**
             * 评论列表查询
             */
            search() {
                let _this = this;
                axios
                    .request({
                        url: "/comment/queryComment",
                        params: {
                            page: _this.currentPage,
                            pageSize: _this.pageSize
                        },
                        method: "get"
                    })
                    .then(res => {
                        if (res.data.result) {
                            _this.tableData = res.data.data;
                            _this.total = res.data.totalCount;
                        } else {
                            _this.tableData = [];
                            _this.total = 0;
                            _this.currentPage = 1;
                            _this.$message({
                                message: res.data.msg,
                                type: 'warning'
                            });
                        }
                    });
            },
            handleSizeChange(val) {
                let _this = this;
                _this.currentPage = 1;
                _this.pageSize = val;
                _this.search();
                console.log(`每页 ${val} 条`);


            },
            handleCurrentChange(val) {
                let _this = this;
                _this.currentPage = val;
                _this.search();
                console.log(`当前页: ${val}`);
            },

            onSubmit(formName) {
                const url = '/comment/saveComment';
                // 表单校验
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (!this.form.name) {
                            this.$message({
                                message: '请填写评论昵称',
                                type: 'warning'
                            });
                            return;
                        }
                        if (!this.form.comment) {
                            this.$message({
                                message: '请填写评论内容',
                                type: 'warning'
                            });
                            return;
                        }
                        axios
                            .request({
                                url: url,
                                data: {
                                    ...this.form
                                },
                                method: "post"
                            })
                            .then(res => {
                                if (res.data.result) {
                                    this.$message({
                                        message: res.data.msg,
                                        type: 'success'
                                    });
                                    this.$refs['form'].resetFields();
                                    this.search();
                                } else {
                                    this.$message({
                                        message: res.data.msg,
                                        type: 'warning'
                                    });
                                }
                            });
                    } else {
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        },
        mounted() {
            this.search();
        }
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");

</script>
</html>