<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="readme-deploy" content="03b1bfc38283b23d3fc912f6a7b8f2787463e09f">
    <title>WhatToEat-登录</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="readme,developer hub,documentation">
    <meta name="description" content="Create beautiful product and API documentation with our developer friendly platform.">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="google-site-verification" content="02bkTvw0S-_3l_qaBCNepYM-Belw0uZwoS04h85_tAQ">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="ReadMe Blog" href="https://blog.readme.io/rss/">
    <!--Opengraph tags-->
    <meta property="fb:app_id" content="293989217296609">
    <meta property="og:title" content="ReadMe: Interactive Developer Hubs">
    <meta property="og:description" content="Create beautiful product and API documentation with our developer friendly platform.">
    <meta property="og:site_name" content="ReadMe">
    <meta property="fb:admins" content="1037213945">
    <meta name="csrf-token" content="pXtHnTYu-a1EvvKmZcaQxMstq2eg5DQtIgoY">
    <!-- Application styles-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.readme.io/css/bundle-home.css?1572050112022">
    <script src="https://cdn.readme.io/js/bundle-home.js?1572050112022"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-939457589"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-67389634-1');
        gtag('config', 'AW-939457589');
    </script>
    <script type="text/javascript">
        adroll_adv_id = "2MRQCDJFJ5ECPBITSV4TL2";
        adroll_pix_id = "C6C2B5WSCZF6DEPMMYXB24";

        (function() {
            var _onload = function() {
                if (document.readyState && !/loaded|complete/.test(document.readyState)) {
                    setTimeout(_onload, 10);
                    return
                }
                if (!window.__adroll_loaded) {
                    __adroll_loaded = true;
                    setTimeout(_onload, 50);
                    return
                }
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {
                window.addEventListener('load', _onload, false);
            } else {
                window.attachEvent('onload', _onload)
            }
        }());
    </script>
    <script type="text/javascript">
        window.heap = window.heap || [],
            heap.load = function(e, t) {
                window.heap.appid = e,
                    window.heap.config = t = t || {};
                var r = t.forceSSL || "https:" === document.location.protocol
                    , a = document.createElement("script");
                a.type = "text/javascript",
                    a.async = !0,
                    a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(a, n);
                for (var o = function(e) {
                    return function() {
                        heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)
                    heap[p[c]] = o(p[c])
            }
        ;
        heap.load("1443743506");
    </script>
    <!--if lt IE 9script(src="//html5shim.googlecode.com/svn/trunk/html5.js")-->
</head>
<body id="login" class="unloaded">
<div class="wrapper">
    <header>
        <nav class="nav navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">WhatToEat</a>
                </div>
                <div id="menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="../wte/index">吃什么</a></li>
                        <li><a href="../comment/queryComment?page=1&pageSize=5">留言板</a></li>
                        <!--下拉菜单功能的实现-->
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            关于<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../about/showSite">本站</a></li>
                                <li><a href="../about/showAuthor">作者</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="../user/showLogin">登入</a></li>
                        <li><a href="../user/showRegister">注册</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="login" style="margin-top:40px;">
        <form action="/user/login" method="post" class="container offset1 loginform">
            <div id="owl-login">
                <div class="eyes"></div>
                <div class="arm-up-right"></div>
                <div class="arm-up-left"></div>
                <div class="arm-down-left"></div>
                <div class="arm-down-right"></div>
            </div>
            <div class="pad">
                <input type="hidden" name="_csrf" value="pXtHnTYu-a1EvvKmZcaQxMstq2eg5DQtIgoY">
                <div class="control-group">
                    <div class="controls">
                        <label for="username" class="control-label fa fa-user"></label>
                        <input id="username" type="text" name="username" placeholder="请输入用户名" tabindex="1" autofocus="autofocus" required class="form-control input-medium">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label for="password" class="control-label fa fa-asterisk"></label>
                        <input id="password" type="password" name="password" placeholder="请输入密码" tabindex="2" required class="form-control input-medium">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <a href="" tabindex="5" class="btn pull-left btn-link text-muted">忘记密码？</a>
                <a href="/user/showRegister" tabindex="6" class="btn btn-link text-muted">注册</a>
                <button type="submit" tabindex="4" class="btn btn-primary">登入</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
