<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- elementUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- elementUI JS -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- font-awesome -->
    <link th:href="@{https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <!-- iconfont -->
    <link th:href="@{/plugins/font_a4odpaijq7g/iconfont.css}" rel="stylesheet" type="text/css"/>
    <!--公用css-->
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>

    <title>WhatToEat</title>
</head>
<style>

</style>
<body>
<div id="app">

    <el-menu
            :default-active="1"
            class="el-menu-demo"
            mode="horizontal"
            @select=""
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1"><a href="../wte/index">吃什么</a></el-menu-item>
        <el-menu-item index="2"><a href="../comment/index">留言板</a></el-menu-item>
        <el-submenu index="3">
            <template #title>关于</template>
            <el-menu-item index="3-1"><a href="../about/showSite">本站</a></el-menu-item>
            <el-menu-item index="3-2"><a href="../about/showAuthor">作者</a></el-menu-item>
        </el-submenu>
        <el-menu-item index="4" v-show="false"><a href="../user/showLogin">登入</a></el-menu-item>
        <el-menu-item index="5" v-show="false"><a href="../user/showRegister">注册</a></el-menu-item>
        <el-menu-item index="6" v-show="false"><a href="#"
                                                  th:text="null != ${session.username} ? '欢迎，' + ${session.username} : '尚未登录，请登录'"></a>
        </el-menu-item>
    </el-menu>

    <el-container>

        <el-main>
            <div class="block">
                <el-image th:src="@{/img/1.png}" width="375px" id="logo"></el-image>
            </div>

            <el-collapse v-model="activeName" accordion>
                <el-collapse-item title="中午吃什么" name="1">
                    <el-divider>我是分割线</el-divider>
                    <el-row>
                        <span>第一步：</span>
                        <el-select v-model="diningHallCode" placeholder="请先选择餐厅">
                            <el-option
                                    v-for="(item, index) in options"
                                    :key="index"
                                    :label="item.diningHallName"
                                    :value="item.diningHallCode"
                            >
                            </el-option>
                        </el-select>
                    </el-row>
                    <el-row>
                        <span>第二步：</span>
                        <el-button @click="showMenu">点我查看午饭菜单</el-button>
                        <el-drawer
                                title="菜 单"
                                v-model="table"
                                direction="rtl"
                                size="50%">
                            <el-table :data="menuData">
                                <el-table-column property="dishCode" label="菜品编码" width="150"></el-table-column>
                                <el-table-column property="dishName" label="菜品名称" width="200"></el-table-column>
                                <el-table-column property="createTime" label="创建时间"></el-table-column>
                            </el-table>
                        </el-drawer>

                    </el-row>
                    <el-row>
                        <span>第三步：</span>
                        <el-button type="primary" round @click="getRandomElement" :disabled="decisionBtnDisabled">
                            决定吃什么
                        </el-button>

                        <el-dialog
                                title="中饭吃什么呢？"
                                v-model="dialogVisible"
                                width="30%"
                        >
                            <span id="decisionContent">就决定吃【{{decision}}】吧！</span>
                            <template #footer>
                                    <span class="dialog-footer">
                                      <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                                    </span>
                            </template>
                        </el-dialog>

                    </el-row>
                </el-collapse-item>
                <el-collapse-item title="晚上吃什么" name="2">
                    <el-divider>我是分割线</el-divider>
                    <el-row>
                        <span>第一步：</span>
                        <el-select v-model="diningHallCodeSupper" placeholder="请选择">
                            <el-option
                                    v-for="(item, index) in options"
                                    :key="index"
                                    :label="item.diningHallName"
                                    :value="item.diningHallCode"
                            >
                            </el-option>
                        </el-select>
                    </el-row>
                    <el-row>
                        <span>第二步：</span>
                        <el-button @click="showMenuSupper">点我查看晚饭菜单</el-button>
                        <el-drawer
                                title="菜 单"
                                v-model="table"
                                direction="rtl"
                                size="50%">
                            <el-table :data="menuData">
                                <el-table-column property="dishCode" label="菜品编码" width="150"></el-table-column>
                                <el-table-column property="dishName" label="菜品名称" width="200"></el-table-column>
                                <el-table-column property="createTime" label="创建时间"></el-table-column>
                            </el-table>
                        </el-drawer>
                    </el-row>
                    <el-row>
                        <span>第三步：</span>
                        <el-button type="primary" round @click="getRandomElementSupper"
                                   :disabled="decisionBtnDisabledSupper">
                            决定吃什么
                        </el-button>

                        <el-dialog
                                title="晚饭吃什么呢？"
                                v-model="dialogVisible"
                                width="30%"
                        >
                            <span id="decisionContentSupper">就决定吃【{{decision}}】吧！</span>
                            <template #footer>
                                    <span class="dialog-footer">
                                      <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                                    </span>
                            </template>
                        </el-dialog>

                    </el-row>
                </el-collapse-item>

            </el-collapse>


        </el-main>
        <el-footer>©2021 WhatToEat &nbsp&nbsp&nbsp&nbsp&nbsp Developed by PrinceCheng</el-footer>
    </el-container>


</div>
</body>
<script type="text/javascript" th:inline="javascript">

    const App = {
            data() {
                return {
                    activeName: '1',
                    dialogVisible: false,
                    diningHallCode: '',
                    diningHallCodeSupper: '',
                    diningHallName: '',
                    options: [],
                    dishCode: '',
                    dishName: '',
                    createTime: '',
                    menuData: [],
                    decision: '',
                    decisionBtnDisabled: true,
                    decisionBtnDisabledSupper: true,
                    table: false,
                };
            },
            methods: {
                /**
                 * 餐厅列表查询
                 */
                search() {
                    let _this = this;
                    axios
                        .request({
                            url: "/wte/queryAllDiningHall",
                            params: {},
                            method: "get"
                        })
                        .then(res => {
                            if (res.data.result) {
                                _this.options = res.data.data;
                                // console.log(_this.options);
                            } else {
                                this.$message({
                                    message: '获取后端数据失败',
                                    type: 'warning'
                                });
                            }
                        });
                },

                /**
                 * 午饭菜单
                 */
                showMenu() {
                    let _this = this;
                    if (!_this.diningHallCode) {
                        this.$message({
                            message: "请先选择餐厅！",
                            type: 'error'
                        });
                        return false;
                    }
                    // 已选择餐厅，允许弹出drawer
                    _this.table = true;
                    axios
                        .request({
                            url: "/wte/queryDishByHall",
                            params: {
                                diningHallCode: _this.diningHallCode
                            },
                            method: "get"
                        })
                        .then(res => {
                            if (res.data.result) {
                                // 加载菜单表格数据
                                _this.menuData = res.data.data;
                                // console.log(_this.menuData);
                                // 加载成功，将决定吃什么按钮置为可用
                                _this.decisionBtnDisabled = false;
                            } else {
                                this.$message({
                                    message: '获取后端数据失败',
                                    type: 'warning'
                                });
                            }
                        });
                },
                /**
                 * 晚饭菜单
                 *
                 * @returns {boolean}
                 */
                showMenuSupper() {
                    let _this = this;
                    if (!_this.diningHallCodeSupper) {
                        this.$message({
                            message: "请先选择餐厅！",
                            type: 'error'
                        });
                        return false;
                    }
                    // 已选择餐厅，允许弹出drawer
                    _this.table = true;
                    axios
                        .request({
                            url: "/wte/queryDishByHall",
                            params: {
                                diningHallCode: _this.diningHallCodeSupper
                            },
                            method: "get"
                        })
                        .then(res => {
                            if (res.data.result) {
                                // 加载菜单表格数据
                                _this.menuData = res.data.data;
                                // console.log(_this.menuData);
                                // 加载成功，将决定吃什么按钮置为可用
                                _this.decisionBtnDisabledSupper = false;
                            } else {
                                this.$message({
                                    message: '获取后端数据失败',
                                    type: 'warning'
                                });
                            }
                        });
                },
                /**
                 * 获取一个随机菜品
                 */
                getRandomElement() {
                    let _this = this;
                    _this.dialogVisible = true;
                    // 把菜单列表中的菜品名称转为数组
                    const dishNames = _this.menuData.map(v => v.dishName);
                    // 随机取一个菜品
                    const index = Math.floor((Math.random() * dishNames.length));
                    const decisionContent = document.getElementById('decisionContent');
                    _this.decision = dishNames[index];
                    console.log(dishNames[index]);

                    if (0 === dishNames.length) {
                        decisionContent.innerText = '请先点击查看并加载菜单！'
                    }
                },
                getRandomElementSupper() {
                    let _this = this;
                    _this.dialogVisible = true;
                    // 把菜单列表中的菜品名称转为数组
                    const dishNames = _this.menuData.map(v => v.dishName);
                    // 随机取一个菜品
                    const index = Math.floor((Math.random() * dishNames.length));
                    const decisionContentSupper = document.getElementById('decisionContentSupper');
                    _this.decision = dishNames[index];
                    console.log(dishNames[index]);

                    if (0 === dishNames.length) {
                        decisionContentSupper.innerText = '请先点击查看并加载菜单！'
                    }
                }
            },

            mounted() {
                this.search();
            }
            ,
        }
    ;
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");

</script>


</html>