<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- elementUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <!-- elementUI JS -->
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>吃什么</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/theme.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/plugins/font_a4odpaijq7g/iconfont.css}" rel="stylesheet" type="text/css"/>
</head>
<style>
    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: center;
        line-height: 200px;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        line-height: 160px;
    }

    body > .el-container {
        margin-bottom: 40px;

    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

    .el-row {
        margin-bottom: 20px;

    &
    :last-child {
        margin-bottom: 0;
    }

    }
    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
</style>
<body>
<div id="app">

    <el-menu
            :default-active="1"
            class="el-menu-demo"
            mode="horizontal"
            @select=""
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1"><a href="../wte/index">吃什么</a></el-menu-item>
        <el-menu-item index="2"><a href="../comment/queryComment?page=1&pageSize=5">留言板</a></el-menu-item>
        <el-submenu index="3">
            <template #title>关于</template>
            <el-menu-item index="3-1"><a href="../about/showSite">本站</a></el-menu-item>
            <el-menu-item index="3-2"><a href="../about/showAuthor">作者</a></el-menu-item>
        </el-submenu>
        <el-menu-item index="4"><a href="../user/showLogin">登入</a></el-menu-item>
        <el-menu-item index="5"><a href="../user/showRegister">注册</a></el-menu-item>
        <el-menu-item index="6"><a href="#"
                                   th:text="null != ${session.username} ? '欢迎，' + ${session.username} : '请登录'"></a>
        </el-menu-item>
    </el-menu>

    <div>

        <el-container>

            <el-main>
                <div class="block">
                    <el-image th:src="@{/img/1.png}" width="375px" id="logo"></el-image>
                </div>

                <el-collapse v-model="activeName" accordion>
                    <el-collapse-item title="中午吃什么" name="1">
                        <el-row>
                            <el-select v-model="diningHallCode" placeholder="请先选择餐厅">
                                <el-option
                                        v-for="(item, index) in options"
                                        :key="index"
                                        :label="item.diningHallName"
                                        :value="item.diningHallCode"
                                        @click.native="handleSelect(item)"
                                >
                                </el-option>
                            </el-select>
                            <el-popover
                                    placement="right"
                                    :width="400"
                                    trigger="click">
                                <template #reference>
                                    <el-button @click="showMenu">点我查看并加载菜单</el-button>
                                </template>
                                <el-table :data="menuData">
                                    <el-table-column width="150" property="dishCode"
                                                     label="菜品编码"></el-table-column>
                                    <el-table-column width="100" property="dishName"
                                                     label="菜品名称"></el-table-column>
                                    <el-table-column width="300" property="createTime"
                                                     label="创建时间"></el-table-column>
                                </el-table>
                            </el-popover>
                        </el-row>
                        <el-row>
                            <el-button type="primary" round @click="getRandomElement">决定吃什么</el-button>

                            <el-dialog
                                    title="吃什么呢？"
                                    v-model="dialogVisible"
                                    width="30%"
                            >
                                <span id="decisionContent">就决定吃【{{decision}}】吧！</span>
                                <template #footer>
                                    <span class="dialog-footer">
                                      <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                                    </span>
                                </template>
                            </el-dialog>

                        </el-row>
                    </el-collapse-item>
                    <el-collapse-item title="晚上吃什么" name="2">
                        <el-select v-model="diningHallCodeSupper" placeholder="请选择">
                            <el-option
                                    v-for="(item, index) in options"
                                    :key="index"
                                    :label="item.diningHallName"
                                    :value="item.diningHallCode"
                                    @click.native="handleSelect(item)"
                            >
                            </el-option>
                        </el-select>
                        <el-popover
                                placement="right"
                                :width="400"
                                trigger="click">
                            <template #reference>
                                <el-button @click="showMenuSupper">点我查看菜单</el-button>
                            </template>
                            <el-table :data="menuData">
                                <el-table-column width="150" property="dishCode"
                                                 label="菜品编码"></el-table-column>
                                <el-table-column width="100" property="dishName"
                                                 label="菜品名称"></el-table-column>
                                <el-table-column width="300" property="createTime"
                                                 label="创建时间"></el-table-column>
                            </el-table>
                        </el-popover>
                    </el-collapse-item>

                </el-collapse>


            </el-main>
            <el-footer>©2021 WhatToEat &nbsp&nbsp&nbsp&nbsp&nbsp Developed by PrinceCheng</el-footer>
        </el-container>

    </div>

</div>
</body>
<script type="text/javascript" th:inline="javascript">

    const App = {
            data() {
                return {
                    activeName: '1',
                    dialogVisible: false,
                    diningHallCode: '',
                    diningHallCodeSupper: '',
                    diningHallName: '',
                    options: [],
                    dishCode: '',
                    dishName: '',
                    createTime: '',
                    menuData: [],
                    decision: ''
                };
            },
            methods: {
                /**
                 * 餐厅列表查询
                 */
                search() {
                    let _this = this;
                    axios
                        .request({
                            url: "/wte/queryAllDiningHall",
                            params: {},
                            method: "get"
                        })
                        .then(res => {
                            if (res.data.result) {
                                _this.options = res.data.data;
                                // console.log(_this.options);
                            } else {
                                this.$message({
                                    message: '获取后端数据失败',
                                    type: 'warning'
                                });
                            }
                        });
                },
                /**
                 * 设置餐厅编码
                 */
                handleSelect(item) {
                    let _this = this;
                    console.log(_this.diningHallCode);
                },

                /**
                 * 午饭菜单
                 */
                showMenu() {
                    let _this = this;
                    if (!_this.diningHallCode) {
                        this.$message({
                            message: "请先选择餐厅！",
                            type: 'warning'
                        });
                        return false;
                    }
                    axios
                        .request({
                            url: "/wte/queryDishByHall",
                            params: {
                                diningHallCode: _this.diningHallCode
                            },
                            method: "get"
                        })
                        .then(res => {
                            if (res.data.result) {
                                _this.menuData = res.data.data;
                                // console.log(_this.menuData);
                            } else {
                                this.$message({
                                    message: '获取后端数据失败',
                                    type: 'warning'
                                });
                            }
                        });
                },
                /**
                 * 晚饭菜单
                 *
                 * @returns {boolean}
                 */
                showMenuSupper() {
                    let _this = this;
                    if (!_this.diningHallCodeSupper) {
                        this.$message({
                            message: "请先选择餐厅！",
                            type: 'warning'
                        });
                        return false;
                    }
                    axios
                        .request({
                            url: "/wte/queryDishByHall",
                            params: {
                                diningHallCode: _this.diningHallCodeSupper
                            },
                            method: "get"
                        })
                        .then(res => {
                            if (res.data.result) {
                                _this.menuData = res.data.data;
                                // console.log(_this.menuData);
                            } else {
                                this.$message({
                                    message: '获取后端数据失败',
                                    type: 'warning'
                                });
                            }
                        });
                },
                /**
                 * 获取数组中随机元素
                 */
                getRandomElement() {
                    let _this = this;
                    _this.dialogVisible = true;
                    // TODO 这里dialog显示，但span并未加载，加载在该方法执行之后，待解决

                    // 把菜单列表中的菜品名称转为数组
                    const dishNames = _this.menuData.map(v => v.dishName);
                    const index = Math.floor((Math.random() * dishNames.length));
                    const decisionContent = document.getElementById('decisionContent');
                    _this.decision = dishNames[index];
                    console.log(dishNames[index]);
                    if (0 === dishNames.length) {
                        // 首次点击decisionContent为null，无法设置innerText
                        decisionContent.innerText = '请先点击查看并加载菜单！'
                    }
                }
            },

            mounted() {
                this.search();
            }
            ,
        }
    ;
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");

</script>


</html>